<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="ion-title">{{title}}</ion-title>

    <ion-buttons end>

      <button ion-button (click)="check('search')" mode="ios">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button (click)="check('notification')" mode="ios">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button (click)="check('bookmark')" mode="ios">
        <ion-icon name="bookmark"></ion-icon>
      </button>
      <button ion-button (click)="check('cart')" mode="ios">
        <ion-icon name="cart" style="position:relative;">
          <span style="position:absolute; top:-13px; left:13px; font-size:15px !important;width:15px;height:16px;border: 1px solid red;border-radius: 50%;">{{staticItems}}</span>
        </ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>